#navbar {
    display: flex;
    align-items: center;
}

#navbar-logo {
    display: flex;
    justify-content: center;
}

#navbar a {
    color: #ffffff;
    margin-right: 20px;
    text-decoration: none;
    transition: color 0.2s ease;
}

#navbar a:hover {
    cursor: pointer;
    color: #91a4d2;
}

#barbell0,
#barbell1 {
    width: 50px;
    height: 50px;
}

#ferris {
    width: 75px;
    height: auto;
}
